body {
    background: url(sea.jpg);
}
.background {
    width: 100%;
    color: blanchedalmond;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto;
}
.img1 {
    padding: 20px 30px 20px 20px;
    width: 200px;
}
.box1 {
display: flex;
}
.img-txt p {
    font-weight: 600;
    color: black;
    font-size: 40px;
}
.box2 {
    font-size: 22px;
}
.table1 td {
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
.box3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
}
.table2 {
    padding-right: 130px;
    width: 100%;
    line-height: 35px;
}
.box4 h1{
text-align: center;
}
.box4 {
    font-size: 22px;
    font-weight: 600;
    text-align:justify;
    padding-bottom: 20px;
}
.box5 h1 {
   text-align: center; 
}
.box5 {
font-size: 24px;
font-weight: 600;
line-height: 32px;
padding-bottom: 0px;
}
.a {
    color: black;
}
.a :visited {
    color: black;
}
.a :active {
   background-color: green;

}




